# Debian {{ ansible_distribution_release }} sources.list

deb https://deb.debian.org/debian/ {{ ansible_distribution_release }} main contrib non-free
deb-src https://deb.debian.org/debian/ {{ ansible_distribution_release }} main contrib non-free

deb https://deb.debian.org/debian/ {{ ansible_distribution_release }}-updates main contrib non-free
deb-src https://deb.debian.org/debian/ {{ ansible_distribution_release }}-updates main contrib non-free

deb https://deb.debian.org/debian-security {{ ansible_distribution_release }}/updates main contrib non-free
deb-src https://deb.debian.org/debian-security {{ ansible_distribution_release }}/updates main contrib non-free
